@model TatBlog.WebApp.Areas.Admin.Models.PostFilterModel
<form asp-area="Admin"
		asp-controller="Posts"
		asp-action="Index"
		method="get"
		class="row gy-2 gx-3 align-items-center">
	<div class="col-auto">
		<label class="visually-hidden"asp-for="AuthorId"></label>
		<input type="text"
			class="form-control"
			asp-for="Keyword"
			placeholder="Nhap tu khoa..." />	
	</div>
	<div class="col-auto">
		<label class="visually-hidden" asp-for="AuthorId"></label>
		<select class="form-select"
			asp-for="AuthorId"
			asp-items="Model.AuthorList">
			<option value=""selected>-- Chon tac gia --</option>
		</select>
	</div>
	<div class="col-auto">
		<label class="visually-hidden" asp-for="CategoryId"></label>
		<select class="form-select"
				asp-for="CategoryId"
				asp-items="Model.CategoryList">
			<option value=""selected>-- Chon chu de --</option>
		</select>
	</div>
	<div class="col-auto">
		<label class="visually-hidden" asp-for="Year"></label>
		<input type="text"
			class="form-control"
				asp-for="Year"
				placeholder="Nhap nam...">
	</div>

	<div class="col-auto">
		<button type="submit" class="btn btn-primary">Tim/Loc</button>
		<a asp-area="Admin"
			asp-controller="Posts"
			asp-action="Edit"
			class="btn btn-success">
			Them moi
		</a>
	</div>




</form>